/* section of the animations */

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}

@keyframes rotateCircle {
  from {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

@keyframes rotateZyellow {
  from {
    transform: rotateZ(360deg) scale(1.02);
    -webkit-transform: rotateZ(360deg) scale(1.02);
    -moz-transform: rotateZ(360deg) scale(1.02);
    -ms-transform: rotateZ(360deg) scale(1.02);
    -o-transform: rotateZ(360deg) scale(1.02);
  }
  to {
    transform: rotateZ(0deg) scale(1.02);
    -webkit-transform: rotateZ(0deg) scale(1.02);
    -moz-transform: rotateZ(0deg) scale(1.02);
    -ms-transform: rotateZ(0deg) scale(1.02);
    -o-transform: rotateZ(0deg) scale(1.02);
  }
}

@keyframes rotateZblue {
  from {
    transform: rotateZ(0deg) scale(1.04);
    -webkit-transform: rotateZ(0deg) scale(1.04);
    -moz-transform: rotateZ(0deg) scale(1.04);
    -ms-transform: rotateZ(0deg) scale(1.04);
    -o-transform: rotateZ(0deg) scale(1.04);
  }
  to {
    transform: rotateZ(360deg) scale(1.04);
    -webkit-transform: rotateZ(360deg) scale(1.04);
    -moz-transform: rotateZ(360deg) scale(1.04);
    -ms-transform: rotateZ(360deg) scale(1.04);
    -o-transform: rotateZ(360deg) scale(1.04);
  }
}
