/* login module style (estilos del módulo de inicio de sesión) */

html {
  font-size: 16px;
}

/* body {
  min-height: 100vh;
  width: 100vw;
} */

#root {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  min-width: 380px;
  padding: 1.8rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.login__logo {
  width: 25%;
  padding-bottom: 2.5rem;
  opacity: 0.9;
  animation: 5s rotateY linear infinite;
  -webkit-animation: 5s rotateY linear infinite;
}

.login__title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  color: var(--title-color);
  transition: font-size 0.4s;
  -webkit-transition: font-size 0.4s;
  -moz-transition: font-size 0.4s;
  -ms-transition: font-size 0.4s;
  -o-transition: font-size 0.4s;
}

.login__separator {
  width: 70%;
  height: 4px;
  background-image: linear-gradient(
    to right,
    var(--web-color),
    var(--primary-color)
  );
  margin: 1.4rem;
}

.login__message {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 1.9rem;
  color: var(--text-color);
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__control {
  width: 100%;
  position: relative;
  margin-bottom: 1.4rem;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  -moz-border-radius: 1.8rem;
  -ms-border-radius: 1.8rem;
  -o-border-radius: 1.8rem;
  font-size: 1.4rem;
}

input {
  width: 100%;
  background-color: var(--background-input);
  color: var(--title-color);
  letter-spacing: 0.5px;
  padding: 0.9rem 5rem;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

input ~ span {
  position: absolute;
  left: 2.5rem;
  top: 50%;
  font-size: 1.8rem !important; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--title-color);
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.showPassword {
  position: absolute;
  left: 80%;
  top: 50%;
  font-size: 1.8rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: var(--title-color);
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.showPassword:hover {
  opacity: 0.8;
  cursor: pointer;
}

.showPassword.show {
  opacity: 0.8;
  color: var(--primary-color);
  text-shadow: 2px 2px 5px var(--text-color);
  transform: scale(1.1) translateY(-50%);
  -webkit-transform: scale(1.1) translateY(-50%);
  -moz-transform: scale(1.1) translateY(-50%);
  -ms-transform: scale(1.1) translateY(-50%);
  -o-transform: scale(1.1) translateY(-50%);
}

input.focus,
span.focus {
  color: var(--primary-color);
}

.form__recoverPassword {
  display: flex;
  justify-content: flex-end;
  color: var(--text-color);
  font-size: 1.1rem;
  text-decoration: none;
  margin-bottom: 0.8rem;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transform-origin: right;
  margin-right: 0.8rem;
  letter-spacing: 1px;

}

.form__recoverPassword:hover {
  color: var(--primary-color);
  font-weight: 500;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  cursor: pointer;
}

.form__button {
  color: white;
  padding: 0.9rem 4rem;
  margin: 2rem auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--web-color)
  );
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
}

.form__button:hover {
  box-shadow: 2px 2px 5px var(--text-color);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  opacity: 0.9;
}

.image {
  position: relative;
  overflow: hidden;
}

.image img {
  width: 80%;
  transition: width 0.4s;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -ms-transition: width 0.4s;
  -o-transition: width 0.4s;
}

/* animated background for image */
.image__circle {
  content: "";
  position: absolute;
  width: 1400px;
  height: 1400px;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--web-color)
  );
  left: 4%;
  bottom: 7%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: 5s rotateCircle linear infinite;
  -webkit-animation: 5s rotateCircle linear infinite;
  z-index: -1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.image__edgeOne {
  content: "";
  position: absolute;
  width: 1400px;
  height: 1400px;
  left: 4%;
  bottom: 7%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: 5s rotateZyellow linear infinite;
  -webkit-animation: 5s rotateZyellow linear infinite;
  border-top: 0.3rem solid var(--secundary-color);
  border-left: 0.3rem solid transparent;
  border-bottom: 0.3rem solid var(--secundary-color);
  border-right: 0.3rem solid transparent;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.image__edgeTwo {
  content: "";
  position: absolute;
  width: 1400px;
  height: 1400px;
  left: 4%;
  bottom: 7%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: 5s rotateZblue linear infinite;
  -webkit-animation: 5s rotateZblue linear infinite;
  border-top: 0.3rem solid var(--primary-color);
  border-left: 0.3rem solid transparent;
  border-bottom: 0.3rem solid var(--primary-color);
  border-right: 0.3rem solid transparent;
  z-index: 10;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
